@import url('https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
   scrollbar-gutter: stable;
}



body {
   font-family: 'Jost', sans-serif;
   font-size: 18px;
   line-height: 1.5;
   background: rgb(0, 3, 5);
   color: #ffffff;
   overflow-x: hidden;
}

body {
   @apply dark:bg-white;
}

.asd {
   clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.welcome-circle {
   background-image: linear-gradient(to right, #7effd7, #60ffc6, #42ffb0, #24ff97, #00ff79);
}

.linii {
   filter: blur(100px);
}

.one {
   animation: animate 10s infinite;
   top: -1200px;
   right: -100px;
}

.two {
   animation: animate 10s infinite;
   animation-delay: -0.3s;
   top: -1200px;
   right: -500px;
}

.three {
   animation: animate 10s infinite;
   animation-delay: 0.6s;
   top: -1300px;
   right: -800px;
}

.four {
   animation: animate 10s infinite;
   animation-delay: -0.9s;
   top: -1300px;
   right: -1100px;
}

.five {
   animation: animate 10s infinite;
   animation-delay: -0.2s;
   top: -1300px;
   right: -900px;
}

.six {
   animation: animate 10s infinite;
   animation-delay: -0.5s;
   top: -1300px;
   right: -700px;
}

.seven {
   animation: animate 10s infinite;
   animation-delay: -0.5s;
   top: -1300px;
   right: -400px;
}

.eight {
   animation: animate 10s infinite;
   animation-delay: 0.5s;
   top: -1300px;
   right: -300px;
}

.nine {
   animation: animate 10s infinite;
   animation-delay: 2s;
   top: -1300px;
   right: -1500px;
}

.ten {
   animation: animate 10s infinite;
   animation-delay: 0.2s;
   top: -1300px;
   right: -1600px;
}


@keyframes animate {
   0% {
      transform: translateY(0px);
   }

   70% {
      opacity: 1;
   }

   100% {
      transform: translateY(2000px);
      opacity: 0;
   }
}

.button:after {
   content: '';
   position: absolute;
   left: 0;
   width: 80px;
   height: 100%;
   background-color: rgba(255, 255, 255, 1);
   filter: blur(30px);

   left: -60px;
   transition: all .4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.button:hover::after {
   left: 100%;
}

.button {
   position: relative;
   overflow: hidden;
   transition: all .4s ease;
   animation-duration: 1.5s;
   animation-timing-function: ease;
   box-shadow: 0px 5px 32px rgba(52, 211, 153, 0.2);
   background-image: linear-gradient(to right, #7effd7, #60ffc6, #42ffb0, #24ff97, #00ff79);
}

.button:hover {
   box-shadow: 0px 5px 60px rgba(52, 211, 153, 0.4);
}


.gradient-text {
   background-image: linear-gradient(to right, #7effd7, #60ffc6, #42ffb0, #24ff97, #00ff79);
   color: transparent;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

.grad-linii {
   position: relative;
   gap: 4px;
}

.grad-linii::before {
   content: '';
   display: inline-block;
   margin-right: 7px;
   gap: 5px;
   flex-shrink: 0;
   left: 0;
   height: 17px;
   width: 2px;
   background: linear-gradient(0deg, rgb(123, 87, 252), rgb(98, 193, 229));
}

.about-icon {
   background: linear-gradient(90deg, rgb(91, 50, 241), rgb(5, 255, 255));
}

.social-icon {
   width: 50px;
   height: 50px;
   padding: 13px;
   fill: #fff;
   border-radius: 32px;
}

.welcome-title {
   text-shadow: 0 0 2px #ffffff1a, 0 0 4px #ffffff4d, 0 0 8px #fff3, 0 0 80px #00ff7744;
   opacity: 0;
   transform: translateY(-200px);
   transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 6s ease;
}

.welcome-title.active {
   opacity: 1;
   transform: translateY(0px);
}

.welcome-text {
   opacity: 0;
   transform: translateY(-150px);
   transition: transform 1.7s ease, opacity 3s ease;
   transition-delay: 0.6s;
}

.welcome-text.active {
   opacity: 1;
   transform: translateY(0px);
}

.welcome-count {
   text-shadow: 0 0 2px rgba(255, 255, 255, .1), 0 0 4px rgba(255, 255, 255, .3), 0 0 8px rgba(255, 255, 255, .4), 0 0 110px rgba(2, 255, 107, 0.7);
}


.number-input {
   -moz-appearance: textfield;
   appearance: textfield;
   -webkit-appearance: none;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}


.header {
   position: sticky;
   top: -20px;
   z-index: 9999;
   background: linear-gradient(to bottom, #000000, transparent);
}

.header-nav {
   backdrop-filter: blur(15px);
   filter: blur(0.2px);
   z-index: 9999;
   box-shadow: 0px 10px 35px rgba(52, 211, 153, 0.08);
}


.back {
   opacity: 0;
   transform: translateY(50px);
}


.active-back {
   opacity: 1;
   transform: translateY(0px);
}


.overlay {
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
}

.modal {
   opacity: 0;
   transition: all 0.3s ease;
}

.overlay.active-overlay {
   opacity: 1;
   visibility: visible;
}

.modal.active-modal {
   opacity: 1;
}