@import url('https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import "tailwindcss";

body {
   font-family: 'Jost', sans-serif;
   font-size: 18px;
   line-height: 1.5;
   background: #000;
   color: #fff;
   overflow-x: hidden;
}

.asd {
   clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.linii {
   filter: blur(100px);
}

.one {
   animation: animate 3s infinite;
   top: -1200px;
   right: -100px;
}

.two {
   animation: animate 3s infinite;
   animation-delay: -0.3s;
   top: -1200px;
   right: -500px;
}

.three {
   animation: animate 3s infinite;
   animation-delay: 0.6s;
   top: -1300px;
   right: -800px;
}

.four {
   animation: animate 3s infinite;
   animation-delay: -0.9s;
   top: -1300px;
   right: -1100px;
}

.five {
   animation: animate 3s infinite;
   animation-delay: -0.2s;
   top: -1300px;
   right: -900px;
}

.six {
   animation: animate 3s infinite;
   animation-delay: -0.5s;
   top: -1300px;
   right: -700px;
}

.seven {
   animation: animate 3s infinite;
   animation-delay: -0.5s;
   top: -1300px;
   right: -400px;
}

.eight {
   animation: animate 3s infinite;
   animation-delay: 0.5s;
   top: -1300px;
   right: -300px;
}

.nine {
   animation: animate 3s infinite;
   animation-delay: 2s;
   top: -1300px;
   right: -1500px;
}

.ten {
   animation: animate 3s infinite;
   animation-delay: 0.2s;
   top: -1300px;
   right: -1600px;
}


@keyframes animate {
   0% {
      transform: translateY(0px);
   }

   70% {
      opacity: 1;
   }

   100% {
      transform: translateY(2100px);
      opacity: 0;
   }
}

.button:after {
   content: '';
   position: absolute;
   left: 0;
   width: 20px;
   height: 100%;
   background-color: rgba(255, 255, 255, 1);

   left: -60px;
   transition: all 0.2s ease;
}

.button:hover::after {
   left: 100%;
}

.button {
   position: relative;
   overflow: hidden;
}

.button .cursor-animation {
   position: absolute;
   top: 0;
   left: 0;
   width: 180px;
   height: 100px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.2);
   filter: blur(50px);
   pointer-events: none;
   transition: transform 0.05s linear;
}

.header-animation {
   position: absolute;
   top: 0;
   left: 0;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.2);
   filter: blur(60px);
   pointer-events: none;
   transition: transform 0.05s ease;
}


.gradient-text {
   background-image: linear-gradient(90deg, rgb(110, 70, 255), rgb(70, 206, 255));
   color: transparent;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

/* .welcome-button {
   width: fit-content;
} */


.grad-linii {
   position: relative;
   gap: 4px;
}

.grad-linii::before {
   content: '';
   display: inline-block;
   margin-right: 7px;
   gap: 5px;
   flex-shrink: 0;
   left: 0;
   height: 17px;
   width: 2px;
   background: linear-gradient(0deg, rgb(123, 87, 252), rgb(98, 193, 229));
}

.social-icon {
   width: 50px;
   height: 50px;
   padding: 13px;
   fill: #fff;
   border-radius: 32px;
}